{% extends 'base.html.twig' %}

{% block body %}
    <center>
        <h1>votre numéro de chance est <font color='red'> {{ number }}</font> <br>
            envoyé par : {{ nom }}</h1>
    </center>
{% endblock %}