{% extends 'base.html.twig' %}

{% block body %}
    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <h2>{{article.nom}}</h2>
                <img src="{{article.photo}}" width="350" height="250"/>
                <br>
                <h4>Prix : {{article.prix}}</h4> <br><br>
                    <a href="{{path('detailsarticle', {'id' :article.id})}}" class= "btn btn-success">Lire les détails</a>
                    <br>
            </div>
        {% endfor %}
    </div>

{% endblock %}